:root {
  --hbg-color: black;
  --txt-color: white;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0 auto;
  background-color: white;
  color: black;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.darkBody {
  background-color: black;
  color: white;
}

header {
  display: flex;
  justify-content: space-evenly;
  padding: 1em 0 1em 0;
  width: 100vw;
  position: fixed;
  top: 0;
  backdrop-filter: blur(5px);
}

header button {
  width: 30px;
  height: 30px;
  border: solid transparent;
  background-color: rgba(128, 128, 128, 0.322);
  backdrop-filter: blur(5px);
  border-radius: 6px;
}

header a {
  text-decoration: none;
  color: inherit;
  padding: 0.2em;
  border-radius: 4px;
}

header a:hover {
  background-color: var(--hbg-color);
  color: var(--txt-color);
  margin: 0 1em 0 1em;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 2em 1em 1em;
}

footer p {
  padding: 0.2em;
  border: 2px dotted grey;
  border-radius: 4px;
}

footer a {
  text-decoration: none;
  color: grey;
}

main {
  margin-top: 4em;
}

.blog-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post {
  text-align: center;
  max-width: 300px;
  max-height: 400px;
  min-height: 200px;
  border: 1px solid rgba(104, 104, 104, 0.363);
  border-radius: 6px;
  padding: 2em;
  margin: 1em 0 1em 0;
}

.center-sep {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post h1 {
  text-decoration: underline;
}

.post .sep {
  width: 100%;
  height: 0.5px;
  background-color: grey;
  padding: 0.5px;
}

.post-info {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.post-info .tag {
  color: var(--txt-color);
  background-color: var(--hbg-color);
  font-size: 1.5em;
  padding: 0.2em;
}
