<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='/img/bird.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/about.css') }}">
    <title>Josias Aurel</title>
</head>
<body>
    <span class="flex">
        <div id="summary">
            <h2>About Me.</h2>
            <p>My name is Josias Aurel. <br> I am a passionate developer. I live in Cameroon. <br>
                I love to code on daily basis while experimenting with technologies and building my side projects.
                <br>
                I have experience coding in <em>JavaScript</em>, <em>TypeScript</em>, <em>Python</em>, <em>Java</em>,
                <em>Nim</em> and <em>C/C++</em> .
                <br>
                I love learning new things every day and documenting my learnings with others.
                <br>
                I have built several projects in my coding journey so far and some of my apps are used by many people in around
                the world today.
                <br>
                I like tinkering with computers, like astrology and making things work ;)
            </p>
        </div>
    </span>
    <header class="flex">
        <div>
            <button id="toggleModal">
                Josias
            </button>
        </div>
        <div class="mobile-menu">

        </div>
        <nav>
            <a href="#">Blog</a>
            <a href="#">Experiments</a>
            <a href="#">Projects</a>
        </nav>
    </header>
    <main>
        <div class="flex bird-container">
            <span class="meProfile flex">
                <img src="{{ url_for('static', filename='/img/josias.jpg') }}" alt="josias">
            </span>
        </div>
        <span class="center-name">
            <h1 class="main-name">Josias <h1 class="invert">Aurel</h1>
            </h1>
        </span>
        <h2 class="dev">Developer</h2>
    </main>
    <script src="{{ url_for('static', filename='/js/about.js') }}"></script>
</body>
</html>