<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', path='/css/global.css')}}">
    <title>Josias Aurel -- Personal Log 00 </title>
</head>
<body>
    <div>
        <h1>Personal Log 00</h1>
        <p>By Josias Aurel</p>
    </div>

    <article>
        <p>
            Hi, I am Josias Aurel.
            Here i want to write about the mistakes i have committed repeatedly, in awareness and i have not changed by a bit. I am
            writing this in hope that I will change from now on.
        </p>
        
        <p>
            I am someone who likes to play and i am easily affected by other's opinion.
            My hobby is coding and i honestly don't know why so please do not ask me.
            I still think it is due to that fat that i can *make* anything i can think of and see it come true plus i can eventually
            share it with the world.
        </p>
        
        <p>
            One thing that has affected me several times is a concept abbreviated as FOMO which means Fear Of Missing Out.
            This has kept me going as well as it has hurt me alot.
            Briefly, when some shiny new technology comes out for example, with all the hype and excitement around it i fall in the
            pit. That pit is damn deep. Like a goat who does not learn, i fall deep in every time - in awareness.
        </p>
        
        <p>
            You will read that and ask yourself why i continually commit the same error.
            There is a quote i have in mind mentioned by a [friend] that says *The worst mistake is to not learn from your
            mistakes*.
            Even with that in mind, how could i continually fall in the deep pit ?
        </p>
        
        <p>
            The answer is deeper that just mere interest in the technology or passion for learning things. The issue is from my
            ultimate goal.
        </p>
        
        <p>
            Now what could that goal be ? I will not explicitly mention the goal, but you probably have the exact same or atleast
            similar goal.
            Having a goal needs discipline, attentiveness to your gut/conscience, and hard work.
            Unfortunately, what my guide you to failure my be your own goal sometimes. You crave for something but end up failing,
            blinded by emotions and irrationality.
        </p>
        
        <p>
            I have read a book talking about the early greek days with two countries? in conflict.
            One of the coutries managed to survive despite their low armory, army size and corruptness at the governmental level.
            The army, advised by one guy helped them gain terrains and win some wars. How could they have done that. How could that
            leader have led the army to success and help build the city to be a really modern one ?
            He was simply driven by rationaly decisions. He dropped down his emotions in situations of important decision making and
            thought rationally about what he has to do. He was admired by all and could be seen as a god - but he was no different
            than you and I.
        </p>
        
        <p>
            In my case, my goal blinds me terribly. I see people doing things i could have done. I see people succeeding. It may
            sound weird but it is what it is and i have to change.
            I have tried a hundred times, failed a hundred times and learned a hundred times.
            But what the mistake i have not learned is that I have to do something about it.
            No matter the number of sleepless night i have tried to do. No matter the number if solutions i have tried building. I
            have not felt any progress which is largely due to my way of doing it.
        </p>
        
        <p>
            "I could have been better" - I always think. I can be better, i know i can be but i am not.
            How can i be better ? How can i become the person i have dreamt to be. The answer has always been closer to me that i
            could have realised earlier. The simple answer is that i am not myself yet. Yes, i am an impostor, on the outside - but
            i am myself inside. I don't know how to be myself on the outside but rare enough, i manage to be myself on the outside.
            For every person i have met out there and managed to be friend with the person. I can only be happier. I can only love
            them, and i can be myself with them.
        </p>
        
        <p>
            Every single day of my life i am in depression and i feel hurt somewhere deep inside. I try to cover up the scar (from
            somewhere i can't tell because i don't know) with a smile and by doing something that will prevent me from thinking
            about myself - yeah, like coding a game or an app. But still after all of that, i still feel it - it does not go.
        </p>
        
        <p>
            I feel very joyful when i receive just the smallest _Hello_ from a friend. It makes me so happy that i want the moment
            to last but hey, we are in real life.
        </p>
        
        <p>
            What i have learned about life is how unpredictable it is. How what you thought is not what it is. The person you try to
            impress is not going to be impressed.
            What i have put in my mind about life is that it is that only video game in which you will always lose no matter how
            hard you try. Do not get me wrong on this but i mean you will never have 100% of what you wanted. I am still young and
            sound dumb but i faced lots of things enough to make me say that. I want to be able to cancel that more than ever.
            Everyday i think i will die sooner and it thus make more sad.
        </p>
        
        <p>
            I try to get better everyday by changing a little bit on myself.
            A little tiny change on my habit when i can in order to not become a better person but a better person. Being yourself
            will make you better.
            You pray every morning ? Try reading half a chapter of your bible every morning. The changes next week will get you mind
            blown.
        </p>
        
        <p>
            Why am i writing this and why are you reading this ?
            The main reason is for you to know me better.
            The next reason is to share what i have learned from failing and falling.
        </p>
        
        <p>
            My next move is nothing special but to keep on trying, fighting against myself.
            This is not easy, it is damn hard. I am writing this straight away from what comes to my mind. I am not editing this
            document because this me speaking. No little touch here and there, just some part of me trying to get out.
        </p>
        
        <p>
            This night is probably going to be another night where i overthink again.
            Overthinking is one of my worst pills. I still have not learned from it. I will still overthink when i leave this
            keyboard and got to bed.
            I will still overthink tomorrow and the upcoming days, but hopefully i will overthink positively.
        </p>
        
        <p>
            This is all i have got to tell you for now. Hopefully i can put out more sometime coming.
        </p>

    </article>

    <footer>
        <h2 id="footer-msg" ></h2>
    </footer>

    <style>
        body {
            max-width: 60vw;
        }
    </style>

    <script>
        const footerMsg = document.getElementById("footer-msg");

        const monthsMap = {
            0: "January",
            1: "February",
            2: "March",
            3: "April",
            4: "May",
            5: "June",
            6: "July",
            7: "August",
            8: "September",
            9: "October",
            10: "November",
            11: "December"
        };

        const daysMap = {
            0: "Sunday",
            1: "Monday",
            2: "Tuesday",
            3: "Wednesday",
            4: "Thursday",
            5: "Friday",
            6: "Saturday"
        };

        let month = new Date().getMonth();
        let day = new Date().getDay();
        let date = new Date().getDate();
        let year = new Date().getFullYear();

        footerMsg.innerText = `Happy ${daysMap[day]} ${date} ${monthsMap[month]} ${year} - Josias Aurel.`;
    </script>
</body>
</html>