.header {
  padding: 0.4em 0;
  position: fixed;
  top: 0px;
  background-color: transparent;
  margin: 0;
  font-size: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header nav {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header button {
  margin: 0;
  border: solid transparent;
  background-color: transparent;
}

.postCard {
  background-color: transparent;
  padding: 1em;
  margin: 1em;
  width: 90%;
  border-bottom: dotted 1px grey;
}

.postCard a {
  text-decoration: none;
}

.postCard a:hover {
  text-decoration: underline;
}

.footer p {
  color: grey;
  font-size: 0.8em;
  word-wrap: break-word;
  text-align: center;
}

.blogHead {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.blogHead h1 {
  text-align: start;
  font-size: 2.5em;
  font-family: "Lora", Inter;
}


.blogHeadImage {
  border: solid 1px grey;
  border-radius: 12px;
}

.profile {
  border-radius: 40px;
  width: 300px;
  height: 300px;
  box-shadow: 1px 1px 2px 2px whitesmoke;
  max-width: fit-content;
}

.projectLink:hover {
  background-color: azure;
}

.projectCard {
  border-radius: 18px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.projectCard img {
  border-radius: 10px;
  border: solid 1px rgb(216, 231, 216);
  min-width: 100%;
  max-width: 100%;
}

.projectCard a {
  text-decoration: none;
  color: black;
  padding: 0.4em 0.8em;
  border-radius: 8px;
  background-color: #a6f5b2;
}

.projectCard p {
  color: grey;
  font-size: 1rem;
}

.projectCard h3 {
  color: black;
}
