.project {
  background-color: white;
  border: solid 1px black;
  margin: 1em;
  padding: 1em;
  max-width: 300px;
}

.header {
  border: solid 1px black;
  background-color: white;
  margin: 0.5em 0;
}
.header,
.header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header h2 {
  margin: 0.5em 1em;
  border: solid 4px black;
}

.header nav * {
  margin: 0 1em;
}
