.header {
  padding: 0.4em 0;
  position: fixed;
  top: 0px;
  background-color: transparent;
  margin: 0;
  font-size: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header nav {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header button {
  margin: 0;
  border: solid transparent;
  background-color: transparent;
}

.postCard {
  background-color: transparent;
  padding: 1em;
  margin: 1em;
  width: 90%;
  border-bottom: dotted 1px grey;
}

.postCard a {
  text-decoration: none;
}

.postCard a:hover {
  text-decoration: underline;
}

.footer p {
  color: grey;
  font-size: 0.8em;
  word-wrap: break-word;
  text-align: center;
}

.blogHead {
  width: 100%;
}

.blogHead em {
  border: none;
}

.blogHead h1 {
  font-size: 2.4em;
}

.profile {
  border-radius: 40px;
  width: 300px;
  height: 300px;
  box-shadow: 1px 1px 2px 2px whitesmoke;
  max-width: fit-content;
}

.projectCard {
  border-radius: 12px;
  padding: 1em;
  margin: 2em 0;
}

.projectCard img {
  width: 100%;
  border-radius: 8px;
}

.projectCard h3 {
  font-weight: 700;
}

.projectCard:hover {
  background-color: #f7ecd5;
}

.projectCard a {
  text-decoration: none;
  color: black;
  padding: 0.4em 0.8em;
  border-radius: 8px;
  background-color: #a6f5b2;
}
