@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Kalam&family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
  font-family: "Inter", "Kalam", sans-serif;
  transition: all 0.2s ease-in-out;
}

::selection {
  background-color: rgb(255, 238, 0);
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header a {
  font-size: 1.2rem;
}

header img {
  max-width: 50px;
  border-radius: 50%;
}

.app > div {
  margin: 0 25%;
}

.notif-text,
.notif-text p {
  display: "inline-block";
}

p {
  font-size: large;
}

p img {
  max-width: 100%;
}

h1 {
  font-family: "Kalam", sans-serif;
}

h1,
h2,
h3 {
  width: 100%;
  text-align: start;
}

a,
strong {
  color: black;
  text-decoration: underline;
}

em {
  color: black;
  background-color: rgba(128, 128, 128, 0.165);
  border-radius: 5px;
  padding: 1px 0.4em;
  font-style: normal;
}

a {
  color: blue;
}

strong {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav > * {
  font-family: "Kalam", sans-serif;
  margin: 0 5px;
  text-decoration: none;
  color: grey;
}

i {
  font-family: "Kalam", sans-serif;
}

blockquote {
  color: grey;
}

blockquote::before {
  content: "“";
}

blockquote::after {
  content: "”";
}

ul {
  list-style-type: square;
}

li {
  font-size: 1.2rem;
}

.index-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.index-main > * {
  width: 45%;
}

footer > div {
  align-self: flex-start;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer > div a,
.project-card a {
  text-decoration: none;
  color: grey;
  padding: 0.1em 0.5em;
}

footer > div a:hover,
.project-card a:hover {
  background-color: black;
  color: white;
}

canvas {
  /*
  width: 80vw;
  height: 80vh;
*/
  width: 1600px;
  height: 800px;
  z-index: -3;
  position: fixed;
  top: -10vh;
  right: 15vw;
  image-rendering: pixelated;
  filter: blur(2px);
}

.post {
  padding: 1em 2em;
  border-radius: 8px;
}

.post:hover {
  background-color: rgba(202, 202, 202, 0.378);
}

.host-name {
  background-color: rgba(146, 146, 146, 0.471);
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 1.3rem;
}

code {
  border-radius: 8px;
}

code,
code * {
  font-family: "JetBrains Mono", monospace;
  overflow-x: scroll;
}

pre {
  overflow-x: scroll;
}

p code {
  font-size: 1.1rem;
}

.post-content p {
  font-size: 1.5em;
}

.post-content h2 {
  font-weight: bolder;
  font-size: 2em;
}

.post-content img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 1130px) {
  .app > div {
    margin: 10%;
  }
}

@media screen and (max-width: 530px) {
  .app > div {
    margin: 5%;
  }

  canvas {
    transform: rotate(45);
  }

  .index-main {
    flex-direction: column;
  }

  .index-main > * {
    width: 90%;
  }
}
