@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  font-family: "Inter", sans-serif;
  transition: all 0.2s ease-in-out;
}

body {
  margin: 0;
}

.app > div {
  margin: 0 30%;
}

.notif-text,
.notif-text p {
  display: "inline-block";
}

p {
  font-family: "EB Garamond";
  font-size: 1.7rem;
}

a,
em,
strong {
  color: black;
  font-family: "EB Garamond";
  text-decoration: underline;
}

a {
  color: blue;
}

strong {
  text-decoration: none;
}

nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav h2,
nav > a {
  text-decoration: none;
}

nav > span {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
}

nav > span > a {
  text-decoration: none;
  color: grey;
  margin: 0 0.2rem;
}

nav > span > a:hover {
  text-decoration: underline;
}

blockquote {
  color: grey;
}

blockquote::before {
  content: "“";
}

blockquote::after {
  content: "”";
}

li {
  font-family: "EB Garamond";
  font-size: 1.5rem;
}

li::marker {
  color: grey;
}

canvas {
  /*
  width: 80vw;
  height: 80vh;
*/
  width: 1600px;
  height: 800px;
  z-index: -3;
  position: fixed;
  top: -10vh;
  right: 15vw;
  image-rendering: pixelated;
}

.post {
  padding: 1em 2em;
  border-radius: 8px;
}

.post:hover {
  background-color: rgba(202, 202, 202, 0.378);
}

.host-name {
  background-color: rgba(146, 146, 146, 0.471);
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 1.3rem;
}

code {
  border-radius: 8px;
}

code,
code * {
  font-family: "JetBrains Mono", monospace;
  overflow-x: scroll;
}

p code {
  font-size: 1.3rem;
}

@media screen and (max-width: 1130px) {
  .app > div {
    margin: 10%;
  }
}

@media screen and (max-width: 530px) {
  .app > div {
    margin: 5%;
  }

  canvas {
    transform: rotate(45);
  }
}
