.post {
  font-size: 150%;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 20vw;
}

.newsletterCTA {
  padding: 0.5em;
  border: solid 2px grey;
  border-radius: 8px;
}

@media screen and (max-width: 500px) {
  .article {
    margin: 0 5vw;
  }
}
